Student Project/student_orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="student-orders" type="student-orders"/>

    <xs:complexType name="student-orders">
        <xs:sequence>
            <xs:element type="student-order" name="student-order" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="student-order">
        <xs:sequence>
            <xs:element type="personAdult" name="husband"/>
            <xs:element type="personAdult" name="wife"/>
            <xs:element type="children" name="children"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="so-id" use="required"/>
    </xs:complexType>

    <xs:complexType name="person">
        <xs:sequence>
            <xs:element type="xs:string" name="surName"/>
            <xs:element type="xs:string" name="givenName"/>
            <xs:element type="xs:string" name="patronymic"/>
            <xs:element type="xs:string" name="dateOfBirth"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personAdult">
        <xs:complexContent>
            <xs:extension base="person">
                <xs:sequence>
                    <xs:element type="xs:string" name="seria"/>
                    <xs:element type="xs:string" name="number"/>
                    <xs:element type="xs:string" name="dateOfIssue"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="personChild">
        <xs:complexContent>
            <xs:extension base="person">
                <xs:sequence>
                    <xs:element type="xs:string" name="number"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="children">
        <xs:sequence>
            <xs:element type="personChild" name="child" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ch-qty" use="required"/>
    </xs:complexType>
</xs:schema>